/* Navbar CSS */

.navbar{
  width: 100%;
  height: 60px;
  background-color: black;
  color:white;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  
}


.navbar-container{
  height: 100%;
  display:flex;
  align-items: center;
  padding: 0 50px;
}

.logo-container{
  display: flex;;
  flex:2;
  font-family: "Sen",sans-serif;
  height: 100%;
  align-items:center;
}

.menu-contianer{
display:flex;
flex:7;
font-family: "Sen",sans-serif;
/* justify-content: space-between; */
}

.menu-list{
  display:flex;
  list-style: none;
}

.menu-list-items{
  margin-right: 30px;
}

.profile-container{
flex:2;
color: black;
height: 100%;
display: flex;
align-items:center;
justify-content:center;
}

/* Toggle button for dark mode */
.toggle{
  width: 40px;
  height: 20px;
  background-color: white;
  border-radius:30px;
  display: flex;
  align-items:center;
  justify-content: space-around;
  position: relative;
}

.toggle-icon{
  color:goldenrod;
}

.toggle-ball{
  width: 18px;
  height: 18px;
  background-color: black;
  position: absolute;
  border-radius: 50%;
  right: 1px;
  cursor:pointer;
}

.toggle-ball:hover{
  transform: translateX(-20px);
  transition:all 1s ease-in-out;
}


/* toggle switch on click */

.navbar.avtive{
  background-color: white;
  color:black
}
/* Main content CSS */

.main-container {
 height: 65vh;
}


.projects{
  width:90%;
  height: 500px;
  background-color: red;
  border-radius: 20px;
  margin:40px auto;
  display: flex;
  box-shadow: 0 45px 65px rgba(0,0,0,0.50), 0 35px 22px rgba(0,0,0,0.16);
}

.project-image-container{
  width: 40%;
  height: 90%;
  background-color: yellow;
  margin:auto;
}

.project-img{
  width: 100%;
  height: 100%;
  object-fit:fill;
}

.description{
  width: 40%;
  height: 90%;
  background-color: green;
  margin:auto;
  position:relative;
  display:flex;
}

.project-description{
  margin-right: 60px;
  margin-left:60px;
  padding-top :80px;
}

.buttonelement{
  position:absolute;
  margin-left:12%;
  margin-top: 330px;
  padding:10px 25px;
  border-radius: 8px;
  font-size: 1.2rem;
  font-weight: bold;
  border: 3px solid pink;
  cursor:pointer;
}

.buttonelement1{
  position:absolute;
  margin-left:60%;
  margin-top: 330px;
  padding:10px 25px;
  border-radius:8px;
  font-size: 1.2rem;
  font-weight: bold;
  border:3px solid pink;
  cursor:pointer;


}

/* Skill Content  */

.skill-container{
  display:flex;
  flex-direction:column ;
  background-color:#F2F7FF;
  height:70vh;
}

.skill-icon:hover{
  width:50%;
  color:red;
}

/* Certificate Component */

.certificate{
  margin: 0 55px 55px 55px;  
  height:90vh;
  /* background-color: #ede1fe; */
  background-image: url('https://cms.jibecdn.com/prod/cvent/assets/LP-SKU-D1-IMG-BG-en-us-1654520464862.jpg');
  border-radius: 10px;
  display: flex;

  /* position: relative; */
}

.certificate-img{
  height: 80%;
  width: 70%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.cert-png{
  height: 100%;
  width: 100%;
}
 

/* .project-img{
  width: 100%;
  height: 80%;
  background-color: green;
} */

/* Footer Css */
.footer{
  display: flex;
  flex-direction: column;
  height: 25vh;
  background-color: #1c2c43;
  color:white;
  align-items: center;
}
.footer-contact {
  height:20%;
  margin: 40px 0;
}
.footer-contact > button{
  padding: 10px 30px ;
  font-size:  2rem;
  font-weight: bold;
  border:4px solid white;
  border-radius:10px;
  background-color: transparent;
  color: white;
  cursor:pointer;
}

.footer-contact > button:hover{
  background-color: white;
  color: black;
  transition:all 0.5s ease-in-out;

}
.footer-icons{
  display:flex;
  height:50%;
  align-items: flex-start;
  justify-content: center;
}

.icons{
 margin: 25px 25px 25px 25px;
 cursor:pointer;
}

.icons:hover{
transform: scale(1.2);
transition:all 0.4s ease-in-out;
color:grey
}

a{
  text-decoration: none;
}