/* Navbar CSS */

.navbar{
  width: 100%;
  height: 10vh;
  background-color: black;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.navbar-container{
  height: 100%;
  display:flex;
  align-items: center;
  padding: 0 50px;
}

.logodis{
  color:white;
}
nav.light .logodis{
  color:black;
}

/* Toggle Button  mode */
nav.light  .navbar {
  background-color: whitesmoke;
}

li{
  font-size: 1.2rem;
  font-weight: 700;
  color:whitesmoke;
}

nav.light li{
  color:Black;
}


nav.light li:hover{
  color:#F06529;
}


li:hover{
  color:#F06529
}

.logo-container{
  display: flex;;
  flex:4;
  font-family: "Sen",sans-serif;
  height: 100%;
  align-items:center;
}

.menu-contianer{
display:flex;
flex:7;
font-family: "Sen",sans-serif;
/* justify-content: space-between; */
}

.menu-list{
  display:flex;
  list-style: none;
}

.menu-list-items{
  margin-right: 30px;
}

.profile-container{
flex:2;
color: black;
height: 100%;
display: flex;
align-items:center;
justify-content:center;
}

/* Toggle button for dark mode */

.toggle{
  width: 40px;
  height: 20px;
  background-color: whitesmoke;
  border-radius:30px;
  display: flex;
  align-items:center;
  justify-content: space-around;
  position: relative;
  cursor:pointer;
}
nav.light .toggle-ball{
  transform: translateX(0px);
  transition:all 0.3s ease-in-out;
}

nav.light .toggle{
  background-color: black;
}

.toggle-icon{
  color:goldenrod;
}

.toggle-ball{
  width: 18px;
  height: 18px;
  background-color: goldenrod;
  position: absolute;
  border-radius: 50%;
  right: 1px;
  cursor:pointer;
  transform: translateX(-20px);
  transition:all 0.3s ease-in-out;
}



/* toggle switch on click */



.about{
width: 100%;
height: 30vh;
}

/* Main content CSS */

.main-container {
 height: auto;
 margin: 5% 5% 15% 5%;
}

.main-container:hover{
  /* transform: */
  transition:all 0.8s ease-in-out;
}


.projects{
  width:90%;
  height: auto;
  border-radius: 20px;
  margin:40px auto;
  display: flex;
  box-shadow: 0 45px 65px rgba(0,0,0,0.50), 0 35px 22px rgba(0,0,0,0.16);
  margin-bottom: 5%;
}



.projects:hover {
  transform: scale(1.1);
  transition:all 1s ease-in-out;
}


.project-image-container{
  width: 40%;
  background-color: #DFD3BB;
  margin:auto;
  padding:3%;
  border-radius: 8px;
}



.project-img{
  width: 100%;
  height: 100%;
  object-fit:fill;
  border-radius: 12px;
}

.project-img:hover{
  transform: scale(1.1);
  transition:all 0.8s ease-in-out;
}

.description{
  display:flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  height: auto;
  margin:auto;
  
}

.project-description{
  color: #EE4566;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 1.2rem;
  line-height:1.5rem;
}

.project-heading{
padding:0 0 5% 0;
justify-self: flex-start;
}

.project-btn{
  margin-top: 5%;
  display: flex;
}

.buttonelement{
  margin-right: 70px;
  padding:10px 25px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  background-color: #0062B9;
  color:white;
  letter-spacing: 2px;
  border:none;
  cursor:pointer;
}

.buttonelement:hover, .buttonelement1:hover{
  transform: translateY(-5px);
  transition:all 0.3s ease-in-out;
}

.buttonelement1{
  padding:10px 25px;
  border: 2px solid rgba(0, 98, 185, 0.8);
  background-color: #fff;
  border-radius:5px;
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: bold;
  cursor:pointer;
}

/* Skill Content  */

.skill-container{
  background-color:#F2F7FF;
  margin: 5vw;
  border-radius: 5vw;
  
}
.skill-container-icon{
  
  display:grid;
  grid-template: repeat(3, 25vh)/ repeat(4, 1fr);
  grid-gap:2.5vh;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
 
}
.skill-icon{
margin:auto;
/* padding: 10px; */
}

/* Certificate Component */

.certificate{
  margin:55px auto;  
  width: 75%;
  height:90vh;
  background-image: url('https://cms.jibecdn.com/prod/cvent/assets/LP-SKU-D1-IMG-BG-en-us-1654520464862.jpg');
  border-radius: 10px;
  display: flex;
}

.certificate-img{
  height: 80%;
  width: auto;
  margin: auto;

}

.cert-png{
  height: 100%;
  width: auto;
  align-self: center;
}
.cert-png:hover{
  transform: scale(1.2);
  transition:all 0.8s ease-in-out;
}
 



/* Footer Css */
.footer{
  display: flex;
  flex-direction: column;
  height: 25vh;
  background-color: #1c2c43;
  align-items: center;
}
.footer-contact {
  height:20%;
  margin: 40px 0;
}

.contact-btn{
  padding: 10px 30px;
    font-size: 1.5rem;
    font-weight: bold;
    border: 4px solid white;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    cursor: pointer;
}

.contact-btn:hover{
  background-color: white;
  color: black;
  transform: scale(1.1);
  transition:all 0.5s ease-in-out;

}
.footer-icons{
  display:flex;
  height:50%;
  align-items: flex-start;
  justify-content: center;
}

.icons{
 margin: 25px 25px 25px 25px;
 cursor:pointer;
}

.icons:hover{
transform: scale(1.2);
transition:all 0.4s ease-in-out;
color:grey;
}

a{
  text-decoration: none;
  color:black;
}


.fa-react:hover{
  color:#61DBFB;
}

.fa-moon{
  color:grey;
}
/* About component */

.about {
  color: White;
  background: linear-gradient(to right, rgba(0, 98, 185, 0.7), rgba(0, 98, 185, 0.7)), url(./svg/common-bg.svg);
  height: 70vh;
  position: relative;
}

.about-content {
  width:90vw;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15%;
  text-align:center;
}



.about-name{
  font-size: clamp(0.5rem, 1rem + 3.67vw, 3.5rem);
  letter-spacing: 4px;
  
}

.about-paragraph{
  font-size: clamp(0.9rem, 0.672rem + 0.587vw, 1.2rem);
  line-height: 1.8;
  padding-bottom:15vh;
  padding-top:4vh;

}

.about-btn{
  background: #fff;
  color: #333;
  letter-spacing: 2px;
  font-weight: 700;
  padding:20px 30px;
  border-radius: 5px;
  cursor:pointer;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
  border:none;
  margin:0 auto;
}
.about-btn:hover{
  transform: translateY(-5px);
  transition:all 0.5s ease-in-out;
  scale:1.1

}

/* Contact component */
.contact {
  width: 100%;
  height: 70vh;
  background: linear-gradient(to right, rgba(0, 98, 185, 0.7), rgba(0, 98, 185, 0.7)), url(./svg/common-bg.svg);
  color:white;
  text-align: center;
  padding-top: 10%;
}

.contact-heading{
  font-size: clamp(0.5rem, 1rem + 3.67vw, 3.5rem);
  letter-spacing: 4px;
}
.contact-paragraph{
  font-size: clamp(0.9rem, 0.672rem + 0.587vw, 1.2rem);
  line-height: 1.8;
  padding-bottom:15vh;
  padding-top:4vh;

}


.logo-container {
  display: flex;
}

.profile-img{
  width: 8vh;
  height: 8vh;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid rgb(223, 80, 80);
  margin-right: 15px;
}


nav.light .profile-img{
  border:4px solid rgb(65, 114, 186);
}
.profile-img:hover{
  border: 4px solid rgb(65, 114, 186);
  transform: scale(1.2);
  transition: transform 0.4s ease;
}
a{
  display: flex;
  text-align: center;
  
}

a > h1{
  align-self: center;
}


@media  (width < 800px){
.menu-contianer{
display: none;
}

.cert-png{
  width: 100%;
  height: auto;
  padding:4%;
  
}

.certificate{
  margin: 30px 25px 55px 25px;
}


.description {
  display: none;
}


.skill-container-icon{
  grid-template: repeat(4, 25vh)/ repeat(3, 1fr);
  grid-gap:2.5vh;

  
}
}

@media (width < 450px)  {

 .skill-container-icon{
  grid-template: repeat(6, 5vh)/ repeat(2, 1fr);
  grid-gap:10vh 8vh; 
}

.certificate{
  height:auto;
}

.skill-container{
  padding: 2vh 5vh 10vh 5vh

}

.skill-icon{
  font-size:8.5vh;
  padding-bottom: 18vh;
}
}

.fa-salesforce{
  /* background-color:#21A0DF; */
  color:#21A0DF;
}

.fa-js{
  color:#F0DB4F;
  background-color: black;
  padding: 0;


}

.fa-html5 {
/* color: #F06529; */
color: transparent; 
background-clip: text;
background-image: linear-gradient(to right,#E34C26 50%, #F06529 50%);

}

.fa-react{
  color:#61DBFB;
}

.fa-sass{
  color:#CD6799;
}

.fa-bootstrap{
  color:#553C7B;
}
.fa-css3-alt{
  color:transparent;
  background-clip:text;
  background-image:linear-gradient(to right,#264de4 50%, #2965f1 50%);
}

.fa-file-excel{
  color:#1D6F42;
}


.skill-icon{
  font-size:12vh;
}

.skill.icon:hover{
  scale:(1.2);
}


.tri{
  width:10vw;
  height: auto;
}



a{
  color:Black;
}

footer.light .footer{
  background-color:#a0a2a6;
}

